/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

html {
  height: 100%;
}

body {
background: #1e130c; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #1e130c , #9a8478); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #1e130c , #9a8478); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */        
}

.navbar-default {
background: rgba(250, 250, 250, 0.5);
-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.75);
box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
border-radius: 0;
.navbar-header {
  .navbar-brand {
    color: white;
    font-size: 25px;
    font-transform: uppercase;
    font-weight: 700;
    letter-spacing: -1px;
  }
}
  a.navbar-link {
    line-height: 3.5;
    color: white;
  }
}

#index_workouts {
  h2 {
    margin-bottom: 0;
    font-weight: 100;
    a {
      color: white;
    }
  }
  h3 {
    margin: 0;
    font-size: 18px;
    span {
      color: rgb(48, 181, 199);
    }
  }
}